/*=======================================================================================================================================*/
// GENERAL STYLES
/*=======================================================================================================================================*/

/*========================Imports==============================*/


/*========================Functions==============================*/

// Responsive VW functions
$max-breakpoint-xs: 375;

$max-breakpoint-xl: 1440;

@function get-vw-xs($target) {
    $vw-context: ($max-breakpoint-xs*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}

@function get-vw-xl($target) {
    $vw-context: ($max-breakpoint-xl*.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}


// Responsive Pixels function
@function responsive-px($min-px, $max-px, $min-vw, $max-vw) {
    @return calc(#{$min-px}px + (#{$max-px} - #{$min-px}) * ((100vw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw})));
}

@function aspect-ratio($width,$height){
    @return $height / $width * 100%;
}


/*========================Mixins==============================*/

// Media Mixins
@mixin min-screen($min) {
    @media(min-width:#{$min}px) {
        @content;
    }
}

@mixin max-screen($max) {
    @media(max-width:#{$max}px) {
        @content;
    }
}

@mixin responsive($property, $value1, $value2) {

    #{$property}: get-vw-xs($value1);


    @include min-screen($max-breakpoint-xs) {
        #{$property}: $value1;
    }

    @include min-screen(768) {
        #{$property}: get-vw-xl($value2);
    }

    @include min-screen($max-breakpoint-xl) {
        #{$property}: $value2;
    }


}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


/*========================Variables==============================*/

$primary-color: #252543;
$secondary-color: #F8F8F8;
$support-color: #7DCA2C;

$primary-text-color: #E5E5E5;
$secondary-text-color: #00C3DE;
$support-text-color: #949FAD;
$support-text-color-2: #142133;
$support-text-color-3: #2A405D;
$support-text-color-4: #71B727;

$webfont1: 'PT Serif';
$webfont2: 'Roboto';

$cta-color: $support-color;
$cta-text-color: #FFFFFF;

$H1: 700 67px/80px $webfont1;
$H2: 700 54px/64px $webfont1;
$H3: 700 40px/48px $webfont1;

$Text: 400 20px/24px $webfont2;
$Text_Small: 400 14px/24px $webfont2;

/*========================MAIN==============================*/

*{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;

}

body {

    background: $primary-color;
    color: $primary-text-color;
    width: 100%;
    overflow: inherit;
    margin: 0;
    position: relative;

    h1 {
        font: $H1;
        margin: 0;
        letter-spacing: -1.67px;
        color: $secondary-text-color;

        @include responsive(font-size, 40px, 67px);
        @include responsive(line-height, 52px, 80px);
    }

    h2 {
        font: $H2;
        color: $secondary-text-color;
        margin: 0;
        @include responsive(font-size, 24px, 54px);
        @include responsive(line-height, 33px, 64px);
    }

    h3 {
        font: $H3;
        margin: 0;
        color: $support-text-color-2;
        @include responsive(font-size, 24px, 24px);
        @include responsive(line-height, 32px, 32px);
    }

    img {
        display: inline-block;
        max-width: 100%;
    }

    label {
        font: $Text_Small;
        color: $primary-text-color;
    }

    p {
        font: $Text;
        letter-spacing: 1px;
        @include responsive(font-size, 18px, 20px);
        @include responsive(line-height, 31px, 31px);
    }

    small {
        @extend label;
    }
    
    a{
        text-decoration: none;
    }

}

/*========================Custom Styles==============================*/

.container{
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1364px;

    @include min-screen(768){
        padding: 0 22px;
    }

    &-xl{
        @extend .container;
        max-width: 1612px;
    }
}

.main-cta {
    @include responsive(width, 168px, 168px);
    @include responsive(line-height, 48px, 48px);
    @include responsive(font-size, 18px, 18px);
    display: inline-block;
    font-family: $webfont2;
    font-weight: 400;
    text-align: center;
    background: $cta-color;
    color: $cta-text-color;
    border: 1px solid $cta-color;
    border-radius: 30px;
    transition: all 0.4s;

    &:hover, &:focus, &:active {
        text-decoration: none;
        background: $primary-color;
    }
}


.section{
    padding: responsive-px(60, 140, 320, 1920) 0;

    &__title{
        @extend small;
        text-align: center;
        color: $support-text-color-4!important;
        margin-bottom: responsive-px(30, 145, 320, 1920);

        span{

            @extend h2;
            display: block;

        }
    }

}



/*======================== Header ==============================*/

.header{

    padding: 26px 0;
    background-color: $secondary-color;

    @include min-screen(768){
        
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;

    }


    >div{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include min-screen(768){
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo{
        display: block;
        width: 220px;
        position: relative;
        z-index: 1;

        @include min-screen(768){
            margin: 0;
            max-width: 121px;
        }

        &:before{
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 0;
            margin: auto;
            width: 40%;
            height: 100%;
            background-image: url('../assets/portal2x.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
            transition: all 3s;
        }
        
        &:hover{
            &::before{
                animation: rotating 2s linear infinite;
            }
        }
        
    }

    &__nav{
        @include max-screen(767){
            margin-bottom: 15px;
        }
    }

    &__cta{
        text-align: center;
    }
}

.nav{
    &__list{
        
        margin: 0;
        padding: 0;
        list-style: none;

        @include min-screen(768){
            display: flex;
        }
    }

    &__item{
        text-align: center;
        margin: 5px 15px;
    }

    &__link{
        
        font-family: $webfont2;
        text-transform: uppercase;
        color: $support-text-color-3;
        font-weight: bold;

        &:hover{
            color: $support-text-color-4;
        }
    }
}

/*======================== Footer ==============================*/

.footer{
    padding: 26px 0;
    background-color: $secondary-color;

    >div{
        display: flex;
        flex-direction: column;
        align-items: center;

        @include min-screen(768){
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo{
        display: block;
        width: 220px;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;

        @include min-screen(768){
            margin: 0;
            max-width: 121px;
        }

        &:before{
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 0;
            margin: auto;
            width: 40%;
            height: 100%;
            background-image: url('../assets/portal2x.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
            transition: all 3s;
        }
        
        &:hover{
            &::before{
                animation: rotating 2s linear infinite;
            }
        }
        
    }

    &__legal{
        color: #6F757E;
        font-size: responsive-px(14, 17, 320, 1920);
        letter-spacing: -0.14px;
        line-height: 1.17;
    }
}

/*=======================================================================================================================================*/
// HOMEPAGE 
/*=======================================================================================================================================*/

/*========================Hero Section==============================*/
.hero{
    padding: 0;
    padding-bottom: responsive-px(60, 175, 320, 1920) ;
    text-align: center;
    position: relative;
    
    @include min-screen(768){
        padding-top: responsive-px(60, 175, 320, 1920) ;
        text-align: left;
    }
    

    .container{
        @include max-screen(767){
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__left{

        @include min-screen(768){
            width: 50%;
            position: relative;
        }

        p{
            margin-bottom: 50px;
        }
    }

    &__right{

        @include min-screen(768){
            position: absolute;
            right: -35px;
            top: 0;
            width: 54%;
            height: 100%;
            z-index: 2;
        }
        
    }

    &__bottom{
        display: block;
        text-align: center;
        margin-top: 114px;

        @include min-screen(768){
            text-align: left;
        }
        
        small{
            display: inline-flex;
            align-items: center;

            &::before{
                content: '';
                display: inline-block;
                width: 16px;
                height: 24px;
                margin-right: 10px;
                background: url('../assets/scroll_icon.svg');
            }
        }
    }

    h1{

        &::before{
            @include min-screen(768){
                content: '...';
                display: block;
                color: $secondary-text-color;
                margin-bottom: 24px;
            }

        }
        span{
            display: block;
        }
    }

    form{

        label, input{
            display: block;
            width: 90%;
            max-width: 533px;
            margin: 0 auto;
            margin-bottom: 8px;
    
            @include min-screen(768){
                margin-left: 0;
                margin-right: 0;
            }
        }

        label{
            margin-bottom: 42px;
        }
    }




    input{
        @include responsive(height,53px ,53px );
        border-radius: 30px;
        border: none;
        padding: 0 24px;
    }

    button{
        margin-top: 8px;
        cursor: pointer;
    }

    img{
        width: auto;
        object-fit: contain;

        @include min-screen(768){
            height: 100%;
        }
    }
}

/*========================Characters Section==============================*/
.characters-section{
    @include min-screen(768){
        @include responsive(margin-bottom,-231px , -311px);
    }
    position: relative;

    .cards-container{

        @include min-screen(768){
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .card{
        @include responsive(width,270px,400px );
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border: 1px solid #EBE5EA;
        border-radius: 6px;
        box-shadow: 0 7px 10px 0 #7DCA2C;
        margin: 0 auto 20px;
        
        @include min-screen(768){
            @include responsive(margin-bottom,20px,80px );
            @include responsive(height,325px,482px );
        }

        &__img{
            @include responsive(width,207px,207px );
        }
        &__info{
            text-align: center;
        }
        &__detail{
            
            display: block;
            
            &:not(.card__name){
                @extend p;
                color: $support-text-color;
            }
        }

        &:nth-child(4){
            @include min-screen(768){
                margin-right: responsive-px(20, 40, 768, 1920);
                margin-left: auto;
            }
        }
        &:nth-child(5){
            @include min-screen(768){
                margin-left: responsive-px(20, 40, 768, 1920);
                margin-right: auto;
            }
        }
        
    }
}

/*========================Episodes Section==============================*/
.episodes-section{

    background: $secondary-color;

    @include min-screen(768){
        padding: responsive-px(160, 200, 320, 1920) 0;
    }

    .container-xl{
        @include min-screen(768){
            display: grid;
            grid-template-columns: 41% 50% ;
            justify-content: space-between;
        }

        @include min-screen(1612){
            grid-template-columns: 41% 37% ;
        }
    }

    .section__title{
        grid-column: span 2;
    }

    .episodes-container{
        display: grid;
        gap: 40px 10px;
        
        @include min-screen(768){
            grid-template-columns: 50% 50%;
            gap: 70px 10px;

        }
    }

    .episode{
        text-align: center;

        @include min-screen(768){
            text-align: left;
        }

        &__title{
            color: $secondary-text-color;
            @include responsive(font-size, 24px, 27px);
            @include responsive(line-height, 32px, 32px);

            @include min-screen(768){
                &::before{
                    content:'';
                    display: block;
                    @include responsive(width, 24px, 27px);
                    @include responsive(height, 24px, 27px);
                    margin-bottom: 16px;
                    background-image: url('../assets/check_icon.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }

        &__detail{
            color: $support-text-color-3;
        }
    }
}

/*========================Trailer Section==============================*/

.trailer-section{
    .section__title{
        margin-bottom: 36px;
    }
    .trailer{
        max-width: 1112px;
        margin: 0 auto;
        
        &-info{
            max-width: 716px;
            text-align: center;
            margin: 0 auto 60px;

            @include min-screen(768){
                margin: 0 auto 120px;
            }
        }
        
        .aspect-ratio-wrap{
            position: relative;
            padding-bottom: aspect-ratio(1112,620);
            height: 0;
            overflow: hidden;


            iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*========================Banner Section==============================*/
.banner-section{
    height: 500px;
    padding: 0;
    position: relative;

    >div{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner{

        &__top{
            background: $secondary-color;
        }

        &__icon{
            margin-bottom: 30px;
        }

        &__icon, &__cta{
            position: relative;
            z-index: 1;
        }
    }
    
    .section__title{
        margin-bottom: 0;

        &:nth-of-type(2){
            margin-bottom: 20px;
        }
        &:nth-of-type(3){
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            width: calc(100% - 15px);
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
    }
}